p {font-size: 22px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;line-height: 8px; color: yellow;}
body {text-align: center; color:mintcream}
h1 {color: white; text-align: center;}
img {margin-top: 1cm; margin-bottom: 1cm; margin-left: 1cm; margin-right: 1cm;}
li {text-align: left; font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif; color:mintcream}
#mylove { font-size: medium; color: whitesmoke; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;}
body {background-color: midnightblue;}
button {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
button {font-size: 90%;}
a {color:cyan;}
button {background-color: dimgrey;}
h1 {text-align: center;}
h2 {text-align: center;}
h3 {text-align: left;}